<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + Lit App</title>
    <script type="module" src="./index-dev.ts"></script>
    <script type="module" src="./src/index.ts"></script>
  </head>
  <body>
    <h1>My Element</h1>
    <my-element>
      <p>This is child content</p>
    </my-element>
    <h1>My Card</h1>
    <my-card taskId="id">
      <p>This is child content</p>
    </my-card>
    <mwc-button outlined label="outlined"></mwc-button>
    <mwc-button outlined label="outlined"></mwc-button>
  </body>
</html>
